/* Full width header */
.header {
  width: 100%;
  height: 70px;
  padding: 0 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
}

/* Logo */
.logo {
  font-size: 22px;
  font-weight: 700;
  color: #111;
  line-height: 22px;
}

.logo-yellow {
  color: #facc15; 
}

.header-btn {
  background-color: #facc15;
  color: #111;
  border: none;
  padding: 8px 18px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.header-btn:hover {
  background-color: #fbbf24;
}

@media (max-width: 600px) {
  .header {
    padding: 0 16px;
  }

  .logo {
    font-size: 20px;
  }
}


.gitlogo{
    font-size: 24px;
    color:#000 ;
    transition: ease 0.3s;
}
.gitlogo:hover{ 
    color: #fbbf24;
}
